:root {
    /* CSS variables */
    --color-background: #222831;
    --color-secondary-background: #393e46;
    --color-primary-lighter: #32e0c4;
    --color-title-in-primary: #ffffff;
    --color-text-base: #ffffff;
    --color-default: #333;
    --background-cards: #7159c1;
  }

  * {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
    background: var(--color-background);
  }

  header {
      padding: 32px;
      border-bottom: 1px solid var(--color-default);
      background: var(--color-secondary-background);
  }

  header div {
      text-align: center;
  }

  header div a {
      color: var(--color-title-in-primary);
      font-size: 18px;
      line-height: 28px;
      margin: 0 16px;
  }

  header div a:hover {
      color: var(--color-primary-lighter);
      transition: 0.2s;
  }

  #wrapper {
    text-align: center;
    padding: 32px;
  }

  #wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-primary-lighter);
    margin-bottom: 32px;
    height: 300px;
  }

  #wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
  }

  #wrapper h2 {
    font-size: 21px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
  }

  #wrapper p {
    max-width: 50%;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
  }

  /*--Cards--*/
  .cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

  }

  .card {
    background-color: var(--background-cards);
  }

  .card_image-container img {
    width: 100%;
  }

  .card_content,
  .card_info {
    padding: 24px;
  }

  .card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card_price {
    background-color: var(--background-cards);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
  }

  /*--MODAL--*/
  .modal-overlay {
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  .modal {
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
  }

  .modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
  }

  /*MODAL ACTIVE*/
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }